language: python

python:
- 3.6

matrix:
  include:
  - os: linux
    dist: bionic
    sudo: required
    language: python
    python: 3.6
    install:
      - wget https://repo.anaconda.com/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh
      - bash miniconda.sh -b -p $HOME/miniconda
      - export PATH="$HOME/miniconda/bin:$PATH"
      - hash -r
      - conda config --set always_yes yes --set changeps1 no
      - conda update -q conda
      - conda info -a
      - conda config --add channels conda-forge
      - conda config --set channel_priority strict
      - conda create -c conda-forge -n envlipidhunter python=3.7.6
      - source activate envlipidhunter
      - pip install -r requirements.txt
      - conda env export > env.yml
      - ls
      - cat env.yml
    script:
    - travis_wait pytest --cov=./
    after_success:
    - travis_wait codecov
    - conda install -c conda-forge pyside2
    - conda env export > env.yml
    - ls
    - cat env.yml

  - os: osx
    sudo: required
    language: sh
    python: 3.6
    install:
      - wget https://repo.anaconda.com/miniconda/Miniconda3-latest-MacOSX-x86_64.sh -O miniconda.sh
      - bash miniconda.sh -b -p $HOME/miniconda
      - export PATH="$HOME/miniconda/bin:$PATH"
      - hash -r
      - conda config --set always_yes yes --set changeps1 no
      - conda update -q conda
      - conda info -a
      - conda config --add channels conda-forge
      - conda config --set channel_priority strict
      - conda create -c conda-forge -n envlipidhunter python=3.7.6
      - source activate envlipidhunter
      - ls
      - pip install -r requirements.txt
      - conda env export > env.yml
      - ls
      - cat env.yml
    script:
      - travis_wait pytest --cov=./
    after_success:
      - travis_wait codecov
      - conda install -c conda-forge pyside2
      - conda env export > env.yml
      - ls
      - cat env.yml

  - os: windows
    language: sh
    python: 3.6
    env: PATH="/c/tools/miniconda3/:/c/tools/miniconda3/Scripts:/c/tools/miniconda3/bin:$PATH"
    before_install:
    - choco install openssl.light
    - choco install miniconda3 --params="'/AddToPath:1'"
    install:
      - hash -r
      - conda config --set always_yes yes --set changeps1 no
      - conda update -q conda
      - conda config --add channels conda-forge
      - conda config --set channel_priority strict
      - source activate base
      - conda create -c conda-forge -n envlipidhunter python=3.7.6
      - source activate envlipidhunter
      - pip install -r requirements.txt
      - conda env export > env.yml
      - conda list
      - echo $PATH
    script:
      - travis_wait pytest --cov=./
    after_success:
      - travis_wait codecov
      - conda install -c conda-forge pyside2
      - conda list
